NODE_ENV=development
DATABASE_URL=database://user:password@localhost:5432/urldatabase
PORT=3000
JWT_SECRET=super_secret_key
JWT_EXPIRES_IN=1h
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=tu@gmail.com
SMTP_PASS=tu_app_password
SMTP_FROM="Aura Health <no-reply@aurahealth.com>"